<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/i.css">
    <title>Message Board</title>
</head>
<body>

<h1>Message Board Now Live! Please register to get started!</h1>
<h1> After signing in you can message and post to the main board!</h1>
<div class="buttons">
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
</div>

<footer>
  Made with &hearts; in Philly | &copy; <a href="http://fsdevkd.com">FsDevKD</a>
</footer>


</body>
</html>
